---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        I'm a Full-Stack Engineer & AI Researcher from China.
        <br />
        My primary tools of choice include:
      </p>
      <ul class="list-disc list-inside">
        <li>Rust / Java / Python</li>
        <li>React / Vue / Astro</li>
        <li>Docker / Kubernetes</li>
        <li>PyTorch / Deep Learning</li>
        <li>Node.js / Spring Boot</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Passionate about building robust systems and exploring AI/ML frontiers.
      From full-stack web apps to deep learning research, I enjoy tackling
      challenging problems across the entire stack.
    </p>
  </div>
</Card>
